<section class="faq-section section" id="faq">
  <div class="faq-container">
    <div class="section-faq">
      <h2 class="section-faq__title">Часті питання</h2>
    </div>

    <div class="faq__list">
      <details class="faq__item">
        <summary class="faq__question">
          <p class="faq-text">Як здійснюється доставка меблів?</p>
          <div class="faq__icons">
            <svg
              class="faq-icon-down"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <use href="./icons/icons.svg#icon-chevron-down"></use>
            </svg>
          </div>
        </summary>
        <p class="faq__answer">
          Ми доставляємо замовлення по всій Україні через надійні служби. Термін
          доставки зазвичай складає 3 7 днів залежно від регіону.
        </p>
      </details>

      <details class="faq__item">
        <summary class="faq__question">
          <p class="faq-text">Чи є можливість вибрати колір або матеріал?</p>
          <div class="faq__icons">
            <svg
              class="faq-icon-down"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <use href="./icons/icons.svg#icon-chevron-down"></use>
            </svg>
          </div>
        </summary>
        <p class="faq__answer">
          Так, у багатьох моделях доступні варіанти оббивки та кольорів. Усі
          доступні опції вказані на сторінці товару.
        </p>
      </details>

      <details class="faq__item">
        <summary class="faq__question">
          <p class="faq-text">
            Чи можна повернути товар, якщо він не підійшов?
          </p>
          <div class="faq__icons">
            <svg
              class="faq-icon-down"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <use href="./icons/icons.svg#icon-chevron-down"></use>
            </svg>
          </div>
        </summary>
        <p class="faq__answer">
          Так, ви можете повернути товар протягом 14 днів, якщо він не був у
          користуванні та збережений у первинному вигляді.
        </p>
      </details>

      <details class="faq__item">
        <summary class="faq__question">
          <p class="faq-text">Чи надаєте ви послугу збирання меблів?</p>
          <div class="faq__icons">
            <svg
              class="faq-icon-down"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <use href="./icons/icons.svg#icon-chevron-down"></use>
            </svg>
          </div>
        </summary>
        <p class="faq__answer">
          Так, під час оформлення замовлення можна обрати послугу збирання. Наші
          майстри зберуть меблі у зручний для вас час.
        </p>
      </details>

      <details class="faq__item">
        <summary class="faq__question">
          <p class="faq-text">Як здійснити оплату?</p>
          <div class="faq__icons">
            <svg
              class="faq-icon-down"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <use href="./icons/icons.svg#icon-chevron-down"></use>
            </svg>
          </div>
        </summary>
        <p class="faq__answer">
          Ми приймаємо оплату карткою онлайн, банківським переказом або
          післяплатою при отриманні.
        </p>
      </details>
    </div>
  </div>
</section>
