<section class="feedback-section" id="feedback">
  <div class="container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <h3 class="feedback-description">
      Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
    </h3>
    <div class="swiper feedback-swiper">
      <ul class="swiper-wrapper feedback-list" data-feedback-list></ul>
      <div class="swiper-control-panel">
        <div
          class="swiper-pagination-dots"
          aria-label="Сторінки слайдера"
        ></div>
        <nav class="arrows" aria-label="Навігація слайдера">
          <button class="swiper-prev-button" aria-label="Попередній слайд">
            <svg
              class="icon-burger"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.7069 17.293L8.41394 13H17.9999V11H8.41394L12.7069 6.70697L11.2929 5.29297L4.58594 12L11.2929 18.707L12.7069 17.293Z"
              />
            </svg>
          </button>
          <button class="swiper-next-button" aria-label="Наступний слайд">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.293 17.293L12.707 18.707L19.414 12L12.707 5.29297L11.293 6.70697L15.586 11H6V13H15.586L11.293 17.293Z"
              />
            </svg>
          </button>
        </nav>
      </div>
    </div>
  </div>
</section>
