<section class="feedback-section" id="feedback">
  <div class="container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <h3 class="feedback-description">
      Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
    </h3>
    <div class="swiper feedback-swiper">
      <ul class="swiper-wrapper feedback-list" data-feedback-list></ul>
      <div class="swiper-control-panel">
        <nav
          class="swiper-pagination-dots"
          aria-label="Сторінки слайдера"
        ></nav>
        <div class="arrows" role="group" aria-label="Керування слайдером">
          <button class="swiper-prev-button" aria-label="Попередній слайд">
            <svg class="left-arrow">
              <use href="/icons/icons.svg#icon-left-arrow-alt"></use>
            </svg>
          </button>
          <button class="swiper-next-button" aria-label="Наступний слайд">
            <svg class="right-arrow">
              <use href="/icons/icons.svg#icon-right-arrow-alt"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
