<footer class="footer">
  <div class="container footer__container">
    <div class="footer-div-logo">
      <a class="logo, logo--light" href="#top"
        ><svg class="footer-svg" width="228" height="97">
          <use href="./src/icons/icons.svg#icon-logo"></use></svg
      ></a>
    </div>
    <div class="footer-div-desk">
      <p class="footer-text">© 2025 Relume. Всі права захищені.</p>
    </div>
    <div class="footer-div-nav">
      <ul class="footer__nav">
        <li><a class="footer__link" href="#furniture">Наші меблі</a></li>
        <li><a class="footer__link" href="#about">Про нас</a></li>
        <li><a class="footer__link" href="#faq">Часті питання</a></li>
        <li><a class="footer__link" href="#feedback">Відгуки</a></li>
      </ul>
    </div>
    <div class="footer-div-socials">
      <ul class="footer__socials">
        <li>
          <a
            class="footer__link"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer-svg" width="24" height="24">
              <use href="./src/icons/icons.svg#icon-youtube"></use></svg
          ></a>
        </li>
        <li>
          <a
            class="footer__link"
            href="//www.instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer-svg" width="24" height="24">
              <use href="./src/icons/icons.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li>
          <a
            class="footer__link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer-svg" width="24" height="24">
              <use href="./src/icons/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <div class="footer-div-mobile">
      <p class="footer-text">© 2025 Relume. Всі права захищені.</p>
    </div>
  </div>
</footer>
