<footer class="footer" id="footer">
  <div class="footer__container">
    <a
      href="#top"
      class="footer__logo logo logo--light"
      aria-label="Меблерія — на головну"
    >
      <svg class="footer__logo-icon" width="221" height="49">
        <use href="./icons/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <p class="footer__copy-desk">© 2025 Меблерія. Всі права захищені.</p>

    <nav class="footer__nav" aria-label="Навігація в футері">
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#furniture">Наші меблі</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#about">Про нас</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#faq">Часті питання</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#feedback">Відгуки</a>
        </li>
      </ul>
    </nav>

    <ul class="footer__socials" aria-label="Соціальні мережі">
      <li class="footer__social-item">
        <a
          class="footer__social-link"
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YouTube"
        >
          <svg class="footer__social-icon" width="24" height="24">
            <use href="./icons/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>

      <li class="footer__social-item">
        <a
          class="footer__social-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <svg class="footer__social-icon" width="24" height="24">
            <use href="./icons/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li class="footer__social-item">
        <a
          class="footer__social-link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <svg class="footer__social-icon" width="24" height="24">
            <use href="./icons/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <p class="footer__copy-mobi">© 2025 Меблерія. Всі права захищені.</p>
  </div>
</footer>
