<footer class="footer">
  <div class="container footer__container">
    <a class="logo logo--light" href="#top">Меблерія</a>

    <ul class="footer__nav">
      <li><a class="footer__link" href="#furniture">Каталог</a></li>
      <li><a class="footer__link" href="#about">Про нас</a></li>
      <li><a class="footer__link" href="#faq">FAQ</a></li>
      <li><a class="footer__link" href="#feedback">Відгуки</a></li>
    </ul>

    <ul class="footer__socials">
      <li><a class="footer__link" href="#" target="_blank" rel="noopener noreferrer">Instagram</a></li>
      <li><a class="footer__link" href="#" target="_blank" rel="noopener noreferrer">Facebook</a></li>
    </ul>
  </div>
</footer>
