<div class="modal order-modal is-hidden" data-order-modal>
  <div class="modal__backdrop" data-modal-backdrop></div>

  <div
    class="modal__dialog order-modal__dialog"
    role="dialog"
    aria-modal="true"
    aria-labelledby="order-modal-title"
  >
    <button
      class="modal__close"
      type="button"
      aria-label="Закрити модальне вікно"
      data-modal-close
    >
     <svg class="order-btn-x" width="32" height="32">
       <use  href="/icons/icons.svg#icon-x"></use>
     </svg>
    </button>

    <div class="order-modal__content">
      <h2 class="order-modal__title" id="order-modal-title">
        Замовити зворотний зв’язок
      </h2>
      <form class="order-form" data-order-form>
        <label class="order-form__label">
          <span class="order-form__label-text">Ім’я*</span>
          <input
            class="order-form__input"
            type="text"
            name="name"
            placeholder="Дмитро"
            required
          />
        </label>

        <label class="order-form__label">
          <span class="order-form__label-text">Телефон*</span>
          <input
            class="order-form__input"
            type="tel"
            name="phone"
            placeholder="38 099 123 22 11"
            required
          />
        </label>
        <label class="order-form__label">
          <span class="order-form__label-text">Коментар</span>
          <textarea
            class="order-form__textarea"
            name="comment"
            rows="4"
            placeholder="Введіть ваш коментар"
          ></textarea>
        </label>

        <button class="order-form__submit btn btn--primary" type="submit">
          Надіслати заявку
        </button>
      </form>
    </div>
  </div>
</div>
