<section class="container" id="popular">
  <div class="section-popular">
    <h2 class="popular-title">Популярні товари</h2>

    <div class="swiper popular-swiper">
      <ul class="popular-list swiper-wrapper"></ul>
      <div class="swiper-control-panel popular-swiper-up">
        <nav
          class="swiper-pagination-dots-popular swiper-pagination-dots"
          aria-label="Сторінки слайдера"
        ></nav>

        <div class="arrows" role="group" aria-label="Керування слайдером">
          <button
            class="swiper-prev-button-popular"
            aria-label="Попередній слайд"
          >
            <svg class="left-arrow">
              <use href="/icons/icons.svg#icon-left-arrow-alt"></use>
            </svg>
          </button>
          <button
            class="swiper-next-button-popular"
            aria-label="Наступний слайд"
          >
            <svg class="right-arrow">
              <use href="/icons/icons.svg#icon-right-arrow-alt"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
