.section-popular {
  padding: 16px 0px;
}

.popular-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #080c09;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .section-popular {
    padding: 32px 0px;
  }
}

@media only screen and (min-width: 1440px) {
  .section-popular {
    padding: 64px 0px;
  }
  
  .popular-title {
    font-size: 48px;
  }
} 






.swiper-pagination-dots-popular,
.swiper-next-button-popular,
.swiper-prev-button-popular {
  display: none;
}

.popular-swiper-up {
  margin-top: 48px;
  display: flex;
  align-items: center;
  width: 100%;
}

.swiper-pagination-dots-popular {
  padding-top: 20px;
  padding-bottom: 20px;
  width: auto;
  align-items: center;
}

.popular-swiper .swiper-control-panel .swiper-pagination-bullet {
  background-color: #080c09;
  opacity: 0.2;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.popular-swiper .swiper-control-panel .swiper-pagination-bullet-active {
  background-color: #080c09;
  opacity: 1;
}

.popular-arrows {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
  fill: #080c09;
}

.swiper-prev-button-popular,
.swiper-next-button-popular {
  border: 1px solid rgba(8, 12, 9, 0.15);
  border-radius: 100px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background-color: #f2f2f2;
  flex-shrink: 0;
}

.swiper-prev-button-popular:hover,
.swiper-prev-button-popular:focus,
.swiper-next-button-popular:hover,
.swiper-next-button-popular:focus {
  background-color: #975052;
}

.swiper-prev-button-popular:hover .left-arrow,
.swiper-prev-button-popular:focus .left-arrow,
.swiper-next-button-popular:hover .right-arrow,
.swiper-next-button-popular:focus .right-arrow {
  fill: #fff;
}

.swiper-prev-button-popular:active,
.swiper-next-button-popular:active {
  background: #6b0609;
}

.swiper-prev-button-popular:active .left-arrow,
.swiper-next-button-popular:active .right-arrow {
  fill: #fff;
}

.swiper-button-disabled {
  opacity: 0.3;
}

@media screen and (max-width: 767px) {
  .popular-swiper-up {
    gap: 12px;
  }

  .popular-arrows {
    gap: 12px;
  }

  .swiper-prev-button-popular,
  .swiper-next-button-popular {
    width: 40px;
    height: 40px;
    padding: 8px;
  }

  .swiper-prev-button-popular .left-arrow,
  .swiper-next-button-popular .right-arrow {
    width: 20px;
    height: 20px;
  }
}